body{
	font-family:helvetica;
	font-size:14px; /*Change to 14px if we switch to Helvetica Neue*/
}
#wrapper{
	height:640px;
	width:935px;
	margin:0 auto;/*Could get rid of this before delivery*/
}
p{
	line-height:18px;/*Change to 20px if we switch to Helvetica Neue*/
	margin-bottom:15px; 
}
h1{
	text-transform:uppercase;
	font-size:15px;
	font-weight:bold;
	margin:15px 0 5px 0;
}
h1 span{
	border-bottom:1px dotted black;
}
h3{
	color:#FFF;
	text-align:left;
	font-size:18px;
	text-transform:uppercase;
	font-weight:bold;
	letter-spacing:-0.5px;
}
a{
	text-decoration:none;
	color: #74408A;
}
a:hover{
	text-decoration:underline;
}
.boldWithSmallMargin{
	font-weight:bold;
	margin-bottom:8px;
}
.bold{
	font-weight:bold;
	margin:0;
}
.italic{
	font-style:italic;
}
.hide{
display:none;
}
.ribbon{
	background-image:url('../images/buttons/06.png');
	background-repeat:no-repeat;
	text-align:left;
	height:115px;
	width:827px;
	margin:-15px auto 30px auto;
	text-indent:250px;
	line-height:115px;
}
.centeringDiv{
	width:845px;
	margin:80px auto;
	text-align: center;
}
.centeringDiv img{
	margin-bottom:30px;
}
.centeringTwoButtons{
	width:600px;
	margin:0 auto;
}
.welcomeTextArea{
	margin:-140px 0 0 295px;
	text-align:left;
}
.higher{
	margin-top:30px;
}
.introButtons ul{
	text-align:center;/*not in use*/
	margin: 0 auto;/*might work. check once images are cropped to same width*/
}
.introButtons li a{
	float:left;
	margin:0 15px;
}
.introButtons li a:hover{
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */		
}
.dotted-line{
	border-top:1px dotted black;
	height:1px;
	width:auto;
	margin:18px 0;
}
.custom-bullets{
	list-style-image: url('../images/bullet_point.png');
	margin-left:16px;
	margin-bottom:5px;
}
.banner{
	margin:0;
	padding:0;
}
.profile{
	margin:8px 10px 8px 0;
	text-align:right;
	font-size:12px;
	font-weight:bold;
}
.profile span{
	border-bottom: 2px solid black;
}
.greenFeature{
	background-color:#36636F;
	color:#FFF;
	margin:-152px 0 18px 180px;
	padding:10px 30px 10px 50px;
	font-weight:bold;
	font-style:italic;
}
.paragraph-area{
   margin: 0 30px 0 220px;
   overflow: scroll;
   height: 380px;
}
.parens a{
	font-weight:normal;
	color:#666;
	font-size:11px;
	text-decoration:none;
}
.parens a:hover{
	color:#74408A;
}
h5 {
	color:white;
	margin:15px 0 10px 0; 
}
h5 span{ /*assign the background color to a span so that it wraps to the text instead of extending to the end of the line. Another option is to get rid of spans and add a width. Or get rid of spans and add display:inline*/
	background-color:#6c3a81;
	padding:5px 10px;
}
a {/*Remove dotted border from links*/
   outline: 0;
}
nav{
	margin:10px 0 30px 0;
}
#topNav{
	width:935px;
	height:30px;
	background-image: url('../images/top-nav/dark_green.jpg');
	background-repeat:repeat-x;
	/*background-color:#36636f;*/	
	margin:10px 0;
	text-align:center;	
}
#topNav li{
	display:inline;	
	list-style-type:none;
}

/*Code for image-based topNav buttons:*/
#topNav a{
	color:white;
	display:block;
	float:left;
	text-decoration:none;
	padding:0;
	margin:0 18px;
	height:41px;
	font-size:0;
	background-position:0 0;
}
#topNav li a.DandY{
	background-image:url('../images/top-nav/diabetes_and_you.jpg');
	width:176px;
	margin-left:32px;
}
#topNav a.DandY:hover{
	background-position:0 -41px;
}
#topNav li a.DB{
	background-image:url('../images/top-nav/diabetes_basic.jpg');
	width:195px;
}
#topNav a.DB:hover{
	background-position:0 -41px;
}
#topNav a.PS{
	background-image:url('../images/top-nav/pharmacy_services.jpg');
	width:196px;
}
#topNav a.PS:hover{
	background-position:0 -41px;
}
#topNav a.FP{
	background-image:url('../images/top-nav/products.jpg');
	width:197px;
}
#topNav a.FP:hover{
	background-position:0 -41px;
}

/*Code for text-based topNav buttons:
#topNav a{
	color:white;
	text-decoration:none;
	padding:10px 25px;
	margin:20px;
	line-height:30px; vertically centers the the tabs (since it matches the topNav height of 30px)	
} End text-based topNav*/


/*#topNav a:hover{
	color:white;
	text-decoration:none;
	background-color:#82bead;
	padding:10px 25px;
	margin:20px;
	line-height:30px; vertically centers the the tabs (since it matches the topNav height of 30px)
}*/

/*Trying to get a double border
#topNav  span{
	border:1px solid red;
	height:100px;
	line-height:30px;
	z-index:3;
}*/

/*Double border*/
.squ_wrap{
	background-color:#609BA8;
	border-width:4px; /*even #s seem to give the effect we're looking for*/
	border-style: double;
	border-color:white;
	position: relative;
	width:150px;
	height:40px;
	padding:10px 25px;
	margin:20px;
}
.squ a{
	color:white;
	text-align:center;
	top: 50%;
    left: 50%;
    margin: -20% 0 0 -40px;

}
.squ_wrap a:hover{
	background-color:#82bead;
}
/*End of double border code*/

#dottedBorders{
	width:960px;
	height:30px;	
	margin:10px 0;
	text-align:center;	
}
#dottedBorders li{
	display:inline;	
	list-style-type:none;
	margin:15px;
}

#contentArea{
	border: 2px solid #36636f;
	height:514px;
	width:931px; /*Needs to total 935px with the border*/
	margin-bottom:20px;
	position:relative;/*In relation to page numbers*/
}
#SummariesPageLeftColumn{
	margin:0;
	padding:0;
	float:left;
	border:0px solid green;
	width:600px;
	height:30px;
}

.sideNav {
	margin:0; 
	padding:6px 0 0; 
/*	line-height:30px;
	height:40px; */
	list-style-type:none; 
	border:0px solid red;
        
        /*
	-webkit-transform: rotate(90deg)translateX(291px) translateY(283px);
	-moz-transform: rotate(90deg)translateX(291px) translateY(283px);
	-o-transform: rotate(90deg)translateX(291px) translateY(283px);
	transform: rotate(90deg)translateX(291px) translateY(283px);
	writing-mode: bt-rl; */
}

ul.sideNav {
    float: left;    
}

.sideNav li {
        width:20px;
        margin:-6px 0 0 -12px;
	padding: 0; 
	position:relative;
}

/*
.sideNav li a img{
	width:15px;
	margin: 0 3px -3px 0;
}
*/

.sideNav li a img{
  /* width:35px;*/
   height:auto;
}


.sideNav a{
	font-family:"arial";
	padding: 8px 11.8px; 
	color:white; 
	text-decoration:none; 
	font-size:15px;
	font-weight:bold;
	line-height:21.6px;
}

/*
.sideNav #tab1 a{
	background-color:#66b1e7; 
}
.sideNav #tab2 a{
	background-color:#dfdfd7; 
}
.sideNav #tab3 a{
	background-color:#74408a; 
}
.sideNav #tab4 a{
	background-color:#78bfcd; 
}
.sideNav #tab5 a{
	background-color:#3f7178; 
}

*/
/*
#sideNav .selectedTab a{
	background-color:#66b1e7;
}
#sideNav #tab1.selectedTab a{
	background-color:red;
}*/
.sideNav a:hover {
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */		
}
.sideNav .selectedTab a:hover{
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */	
}

 /*Recall: active refers to the state of the mouse being clicked (not the state subsequent to that)*/
/* The code for the tabs' triangles*/
/*.selectedTab:after adds the same size of triangle to each selected tab.*/


/*
.selectedTab:after{
	content:'';
	display:block;
	position:absolute;
	top:-33px;  /*Distance between triangles and tabs*/
/*	left:50%;
	width:0;
	height:0;
	border-color:transparent transparent #66b1e7 transparent;
	border-style:solid;
	border-width:0 39px 24px 39px;	
	margin-left:-39px;
}
*/
/* Triangle code*/
/*Dimensions: http://apps.eky.hk/css-triangle-generator/*/
/*
#tab1.selectedTab:after{
	border-width:0 39px 24px;
	border-color:transparent transparent #66b1e7 transparent;	
}
#tab2.selectedTab:after{
	border-width:0 68px 24px;
	margin-left:-68px;	
	border-color:transparent transparent #dfdfd7 transparent;
}
#tab3.selectedTab:after{
	border-width:0 48px 24px;	
	margin-left:-48px;
	border-color:transparent transparent #74408a transparent;
}
#tab4.selectedTab:after{
	border-width:0 63.5px 24px;	
	margin-left:-63.5px;
	border-color:transparent transparent #78bfcd transparent;
}
#tab5.selectedTab:after{
	border-width:0 39px 24px;	
	margin-left:-39px;
	border-color:transparent transparent #3f7178 transparent;
}
*/

/*End of triangle code*/

.person{
	float:left;
	margin:0 0 0 26px;
        height:502px;
        width:194px;
        text-align: left;
}

.person.tab1 {
   border: 6px solid #66b1e7;
}
.person.tab2{
  border: 6px solid #dfdfd7; 
}
.person.tab3 {
  border: 6px solid #74408a; 
}
.person.tab4{
 border: 6px solid #78bfcd; 
}
.person.tab5{
  border: 6px solid #3f7178; 
}




.ie9 .person{
	margin:0 0 0 15px;
}

.summaries {
   /*	display:none; */
}


#SummariesPageRightColumn.selectedSummariesPageRightColumn {
	display:block; 
	border-left: none 1px black; 
	margin:0 0 0 240px; 
	padding: 0 25px 0 20px; 
	float:left; 
	background-color:none;
	width:630px;
	overflow-y:hidden;
	overflow-x:hidden;
	height: 480px;
        overflow: scroll; 
}

#large-data {
     /*	display:none;*/ 
}

#large-data.selectedLargeData {
	display:block; 
	margin:0; 
	background-color:none;
	float:left; 
	width:935px;
	overflow-y:hidden;
	overflow-x:hidden;
	height:480px;
	width:931px; /*Needs to total 935px with the border*/
	margin-bottom:20px;
}
.paraZone{
	height:82px;
	position:relative;
}
.paraZone a img:hover{
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
}
.ReadMore a{
	color:#74408A;
	font-style:italic;
	position:absolute;
	bottom:0;
	left:110px;
	text-decoration:none;
	font-weight:500;/*Supposed to make it slightly heavier, but it's not doing anything on Windows browsers*/
}
.ReadMore a:hover{
	text-decoration:underline;
}
.sideNav.pages{
	position:absolute;/*In relation to #contentArea*/
	bottom:30px;
	right:25px;
	height:0;
	-webkit-transform: rotate(0deg)translateX(0px) translateY(0px);
	-moz-transform: rotate(0deg)translateX(0px) translateY(0px);
	-o-transform: rotate(0deg)translateX(0px) translateY(0px);
	transform: rotate(0deg)translateX(0px) translateY(0px);
	writing-mode: lr-tb; 
}
.sideNav.pages li {
	margin:0;
	display:block;
	position:static;
}
.sideNav.pages li a{
	font:helvetica;
	padding:0; 
	color:#74408A;
	font-size:12px;
	text-decoration:none; 
	font-weight:normal;
	line-height:14px;
	font-weight:500;/*Supposed to make it slightly heavier, but it's not doing anything on Windows browsers*/
}
.sideNav.pages a:hover{
	text-decoration:underline;
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
.sideNav.pages.back {
	right:600px;
}
.sideNav.pages.back #tab1 a,.sideNav.pages.back #tab2 a, .sideNav.pages.back #tab3 a, .sideNav.pages.back #tab4 a, .sideNav.pages.back #tab5 a{
	background-color:#FFF;
}
.sideNav.pages #tab1 a, .sideNav.pages #tab1_1 a, .sideNav.pages #tab2 a, .sideNav.pages #tab2_1 a, .sideNav.pages #tab3 a, .sideNav.pages #tab3_1 a, .sideNav.pages #tab4 a, .sideNav.pages #tab4_1 a, .sideNav.pages #tab5 a, .sideNav.pages #tab5_1 a{
	background-color:#FFF;
}
img.canrisk {
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */		
}
img.canrisk:hover{
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */		
}
.square_buttons{
	padding-right:18px;
	margin-bottom:20px;
}
img.squareLarge{
	margin:0 0 0 20px;
}
.paraZone.pages{
	position:absolute;/*In relation to #contentArea*/
	right:25px;
	bottom:30px;
	text-decoration:none;
	height:0;
}
.paraZone.pages a{
	font:helvetica;
	padding:0; 
	color:#74408A;
	font-size:12px;
	text-decoration:none; 
	font-weight:normal;
	line-height:14px;
	font-weight:500;/*Supposed to make it slightly heavier, but it's not doing anything on Windows browsers*/
}
.paraZone.pages a:hover{
	text-decoration:underline;
}
.paraZone.pages.previous a img{
	position:absolute;/*In relation to #contentArea*/
	bottom:-10px;
	right:702px;
}
.legal{
	margin-top:15px;
	font-size:12px;
	font-style:italic;
	line-height:14px;
	text-align:center;
}
/*Not in use
.canrisk_quiz{
	height:30px;
	background-color:#dfdfd7;
	width:100%;
	color:#6c3a81;
	text-align:center;
	font-weight:bold;
	font-family: Arial;
	line-height:10px;
}*/
	
/*Not in use
.square_wrap{
	background-color:#6C3A81;
	border-width:6px; even #s seem to give the effect we're looking for
	border-style: double;
	border-color:white;
	position: relative;
	width:80px;
	height:80px;
	float:left;
	margin-right:15px;
	margin-bottom:15px;
}
.square{
	/*width:80px;
	height:30px;
	color:white;
	text-align:center;
	position:absolute;
	top: 50%;
    left: 50%;
    margin: -20% 0 0 -40px;
} */